@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.cardContainer{
    width: 370px;
    height: 240px;
    margin: 100px  auto;
    background-color: cornsilk;
}

.nick{
    font-family: Roboto;
    padding: 10px 0 0 10px;
}

.btnContainer{
    
}

.btn{
    width: 100px;
    height: 35;
}